* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body {
  width: 1020px;
  height: 1195px;
}

.wrapper {
  max-width: 1020px;
}

.header__wrapper {
  height: 95px;
  background-color: #2d303a;
}

.header__content {
  font-family: 'Lato-Bold';
  display: flex;
  height: 89px;
  
  text-transform: uppercase;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  margin: 30px 0px 0px 40px;
}

.logo {
  font-size: 24px;  
  color: #ffffff;
 }

.logo_colored {
  color: #f06c64;
}

.navigation {
  display: flex;
  width: 371px;
  margin: 42px 40px 0px 0px;
  
  justify-content: space-between;
}

.navigation__item {
  font-size: 12px;
  list-style-type: none; 
}

.item-link {
  color: #ffffff;
  text-decoration: none;
}

.item-symbol {
  line-height: 9px;
  color: #494e62;
}

.header__bottom {
  height: 6px;
  background-color: #323746;
}

.slider__wrapper {
  height: 600px;
  background-color: #f06c64;
}

.slider__content {
  position: relative;  
  display: flex;
  height: 594px;

  justify-content: space-between;
}

.link-backward { 
  margin: 281px 0px 0px 42px;
  text-decoration: none;
}

.link-forward {
  margin: 281px 40px 0px 0px;
  text-decoration: none;
}

.shadow-vertical {
  position: absolute;
  top: 53px;
  left: 112px;
  z-index: 1;  
}

.base-vertical {
  position: absolute;
  top: 52px;
  left: 110px;
  z-index: 2;
}

.screen-vertical {
  position: absolute;
  top: -17px;
  left: 112px;
  z-index: 3;
}

.home-button-vertical {
  position: absolute;
  top: 459px;
  left: 197px;
  z-index: 4;
}

.speaker-vertical {
  position: absolute;
  top: 87px;
  left: 201px;
  z-index: 5;
}

.cam-vertical {
  position: absolute;
  top: 68px;
  left: 213px;
  z-index: 6;
}

.shadow-horizontal {
  position: absolute;
  top: 174px;
  left: 426px;
  z-index: 1;
}

.base-horizontal {
  position: absolute;
  top: 173px;
  left: 424px;
  z-index: 2;
}

.screen-horizontal {
  position: absolute;
  top: 69px;
  left: 360px;
  z-index: 3;
}

.home-button-horizontal {
  position: absolute;
  top: 259px;
  left: 432px;
  z-index: 4;
}

.speaker-horizontal {
  position: absolute;
  top: 263px;
  left: 841px;
  z-index: 5;
}

.cam-horizontal {
  position: absolute;
  top: 275px;
  left: 856px;
  z-index: 6;
}

.slider__bottom {
  height: 6px;
  background-color: #ea676b;
}

.services__wrapper {
  height: 500px;
  background-color: #f2f2f2;
}

.services__header {
  display: inline-block;
  margin: 59px 0px 0px 39px;
  
  font-family: 'Lato-Black';
  font-size: 30px;
  color: #666d89;
}

.services__text {
  width: 940px;
  margin: 18px 0px 0px 40px;

  font-family: 'Lato-Light';
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;

  text-align: justify;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 48px 0px 0px 41px;

  align-content: space-between;  
}

.layout__layout-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 302px;
  height: 87px;
  margin-bottom: 36px;
  margin-right: 17px;
}

.layout-item__icon-container {
  height: 87px;
  margin: -1px 19px 0px 0px;
}

.icon {
  display:flex;
  width: 55px;
  height: 55px;
  
  border-radius: 29px;
  border: 2px solid #666d89;
  align-items:center;
  justify-content: center;
}

.layout-item__header {
  margin: -5px 0px 0px -2px;

  font-family: 'Lato-Black';
  font-size: 18px;
  color: #666d89;
}

.layout-item__text-container {
  width: 219px;
  height: 70px;
  padding-left: 1px;

  overflow: hidden;
}

.layout-item__text {
  margin: 8px 0px 0px -1px;

  font-family: 'Lato-Regular';
  font-size: 12px;
  line-height:  1.8;
  color: #767e9e;
  text-align: justify;
}
.layout-item__icon-margin {
  margin: 2px 0px 0px 2px;
}

.layout-item__header_margin {
  margin: -5px 0px 0px 1px;
}

.layout-item__text_margin {
  margin: 8px 0px 0px 0px;
}

.services__bottom {
  height: 6px;
  margin: 27px 0px 0px 0px;
  background-color: #ffffff;
}

.item-link:hover {
  color: #f06c64;
  cursor: pointer;
}

.link-backward:hover {
  cursor: pointer;
}

.link-forward:hover {
  cursor: pointer;
}
