body {
    font-family: 'Lato', Verdana, sans-serif;
    width: 1020px;
    margin: 0px;
}

.wrapper{
    width: 1020px;
}

.header {
    background-color: #2d303a;
}

.header-content{
    font-weight: 700;
    height: 90px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    font-size: 25px;
    margin: 34px 0px 0px 40px;
    width: 115px;
 }

.logo-star {
    color: #f06c64;
}

.navigation {
    font-size: 12px;
    color: #ffffff /*#f06c64*/;
}

.header-bottom {
    background-color: #323746;
    height: 7px;
}


.navigation ul li{
    list-style-type: none;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    width: 371px;
    padding-left: 0px;
    margin: 45px 40px 0px 0px;
}

.point{
    color: #494e62;
    display: block;
    line-height: 6px;
}

.slider-content {
    display: flex;
    justify-content: space-between;
}

.slider .wrapper{
    height: 600px;
    background-color: #f06c64;
}

.shadow-vertical{
    position: absolute;
    z-index: 1;
    top: 148px;
    left: 112px;

}
.base-vertical {
    position: absolute;
    z-index: 2;
    top: 148px;
    left: 111px;
}

.screen-vertical{
    z-index: 3;
    position: absolute;
    top: 78px;
    left: 112px;
}

.home-button-vertical{
    z-index: 4;
    position: absolute;
    top: 555px;
    left: 198px;
}

.speaker-vertical{
    z-index: 5;
    position: absolute;
    top: 183px;
    left: 202px;
}

.cam-vertical{
    z-index: 6;
    position: absolute;
    top: 164px;
    left: 214px;
}

.shadow-horizontal{
    position: absolute;
    z-index: 1;
    top: 269px;
    left: 426px;

}
.base-horizontal {
    position: absolute;
    z-index: 2;
    top: 269px;
    left: 425px;
}

.screen-horizontal{
    z-index: 3;
    position: absolute;
    top: 164px;
    left: 360px;
}

.home-button-horizontal{
    z-index: 4;
    position: absolute;
    top: 355px;
    left: 433px;
}

.speaker-horizontal{
    z-index: 5;
    position: absolute;
    top: 359px;
    left: 842px;
}

.cam-horizontal{
    z-index: 6;
    position: absolute;
    top: 371px;
    left: 857px;
}

.arrow-left{
    margin: 280px 0px 0px 42px;
}

.arrow-right{
    margin: 280px 40px 0px 0px;
}

.slider-bottom{
    height: 16px;
    background-color: #ea676b;
}